<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Analytics Kit, Ads Kit -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Location Kit -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Approximate Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Precise Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Since android 10 background location access requires user permission -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="com.huawei.hms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- FIDO (Face recognition biometric auth) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <!-- required by various sdk of HUAWEI Mobile Services, please consider adding it to your manifest file -->
    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>

    <application
        tools:ignore="UnusedAttribute"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HMSExamples">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name="net.c7j.wna.huawei.AnalyticsActivity" android:exported="true"/>

        <activity android:name="net.c7j.wna.huawei.AdsNavigationActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.BannerActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.NativeActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.InterstitialActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.SplashActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.InStreamActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.splash.ExSplashActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.consent.ConsentActivity" android:exported="true"/>

        <activity android:name="net.c7j.wna.huawei.LocationMainActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.SimpleLocationActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.GeofenceActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.ActivityRecognitionAndPeriodicLocationActivity" android:exported="true"/>

        <activity android:name="net.c7j.wna.huawei.MapsMainActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.SimpleMapActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.MapFragmentActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.MarkerLocationMapActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.StyleAndCameraMapActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.LiteMapActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.MapDrawShapesActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.MapOverlayActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.HeatMapActivity" android:exported="true"/>

        <activity android:name="net.c7j.wna.huawei.PushMainActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.PushDeeplinkAndTopicActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.huawei.codelabpush"
                    android:path="/deeplink"
                    android:scheme="pushscheme" />
            </intent-filter>
        </activity>

        <activity android:name="net.c7j.wna.huawei.IapMainActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.IapConsumableActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.IapHistoryActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.IapNonConsumableActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.IapSubscriptionActivity" android:exported="true"/>

        <activity android:name="net.c7j.wna.huawei.FingerprintActivity" android:exported="true"/>

        <activity android:name="net.c7j.wna.huawei.SafetyDetectActivity" android:exported="true"/>



        <!-- Express Splash Ads -->
        <receiver
            android:name="net.c7j.wna.huawei.splash.ExSplashBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.huawei.hms.ads.EXSPLASH_DISPLAYED" />
            </intent-filter>
        </receiver>

        <!-- Location with intent || Activity Recognition || Activity Conversion -->
        <receiver
            android:name="net.c7j.wna.huawei.LocationBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.huawei.hmssample.location.LocationBroadcastReceiver.ACTION_PROCESS_LOCATION" />
            </intent-filter>
        </receiver>

        <!-- Geofence receiver -->
        <receiver
            android:name="net.c7j.wna.huawei.GeofenceBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.huawei.hmssample.location.GeofenceBroadcastReceiver.ACTION_PROCESS_LOCATION" />
            </intent-filter>
        </receiver>

        <!-- When enabled, you do not need to explicitly call the getToken method to obtain a push token. -->
        <!-- The token will returned through onNewToken() automatically -->
        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="false"/>

        <!-- Push kit message receiving service -->
        <!-- android:exported="false" to prevent components of other apps from enabling the service -->
        <service
            android:name=".HuaweiPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>