<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- required by various sdk of HUAWEI Mobile Services, please consider adding it to your manifest file -->
    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>


    <application
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HMSExamples"
        tools:targetApi="33">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="net.c7j.wna.huawei.AnalyticsActivity" android:exported="true"/>

        <activity android:name="net.c7j.wna.huawei.AdsNavigationActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.BannerActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.NativeActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.InterstitialActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.SplashActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.InStreamActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.expresssplash.ExSplashActivity" android:exported="true"/>
        <activity android:name="net.c7j.wna.huawei.consent.ConsentActivity" android:exported="true"/>

        <receiver
            android:name="net.c7j.wna.huawei.expresssplash.ExSplashBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.hms.ads.EXSPLASH_DISPLAYED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>